InsenseCodeGenerator/temp/temp.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><struct><attribute name="sensorReading"/><field name="photo " type="integer"/><field name="solar " type="integer"/><field name="temp " type="real"/><field name="humid " type="real"/></struct><interface><attribute name="ISensorReader"/><channel direction="in" name="ticks" type="bool"/><channel direction="out" name="printChan" type="sensorReading"/><channel direction="out" name="ledsChan" type="sensorReading"/></interface><interface><attribute name="IPrintOutput"/><channel direction="in" name="input" type="sensorReading"/></interface><interface><attribute name="ILedOutput"/><channel direction="in" name="input" type="sensorReading"/></interface><component><attribute name="SensorReader"/><presents name="ISensorReader"/></component><component><attribute name="PrintOutput"/><presents name="IPrintOutput"/></component><component><attribute name="LedOutput"/><presents name="ILedOutput"/></component></xsd:schema>